<form action="/admin/domaine/ajouter" method="post">
    <input type="text" name="name"/>
    <textarea name="description" cols="30" rows="10"></textarea>
    <input type="submit" value="soumettre">
</form>